.App {
  text-align: center;
}

.Header {
  font-size: larger;
  font-weight: 700;
  margin: 25px 0;
}

.BasicTracker {
  border: 1px solid black;
  width: 350px;
  margin: 0 auto;
  padding: 25px;
}

.Row {
  display: flex;
  justify-content: space-around;
}