.App {
  margin: 25px;
}

.RadioGroup > .RadioOption {
  margin-bottom: 5px;
}

.RadioOption > input[type='radio'] {
  margin-right: 8px;
}

button {
  color: snow;
  background-color: darkcyan;
  padding: 10px;
  margin: 10px;
  width: 100px;
  border: 1px solid;
  border-radius: 10px;
}
